.vs/AccessibleSolitaire/DesignTimeBuild/.dtbcache.v2
.vs/AccessibleSolitaire/FileContentIndex/7299a5e2-0c86-4e4a-b76f-c66c8585c2cf.vsidx
.vs/AccessibleSolitaire/FileContentIndex/e7c9f915-0231-4bd4-8ca3-7c617180e1b0.vsidx
/.vs/AccessibleSolitaire/v17
/.vs
AccessibleSolitaire/AccessibleSolitaire.csproj.user
/AccessibleSolitaire/bin
/AccessibleSolitaire/obj
